
* {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color:grey;

}
#container {
	width: 100%;
	border-bottom: solid  2px #d3d3d3;
}

section {
	color: grey;
	text-decoration: underline
	font-family: 'Georgia', Times, Times New Roman, serif;
	width: 40%;
	float:left;
	padding:20px;
	border: solid #d3d3d3 1px;
	margin-left: 100px;
	margin-top: 50px;
}

.aside {
	float:left;
	border: solid #d3d3d3 1px;
	margin-left: 100px;
	margin-top: 50px;
	padding:20px;
}

#pattern {
	width: 100%;
	border-top: solid;
}

html {
	position: relative;
	min-height: 100%;

}

header {
	background-color: #4aaaa5;
	width: 20%;
	padding: 10px;
	margin-left: 100px;
	font-size:26px;
	text-align: center;
	color:white;
	font-family: 'Georgia', Times, Times New Roman, serif;

}

nav {
	float:right;
	color:#d3d3d3;
	position: relative;
	right:300px;
	bottom: 30px;
	font-weight: lighter;

}
body {
	margin: 0 0 100px;
}
p {
	padding:20px;
	background-color: white;
	margin-left: 100px;

}

h2 {
	background-color: white;
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-decoration-line:  #d3d3d3 3px;

}
img {
	padding:5px;

}

footer {
	background-color: #666666;
	padding:20px;
	clear:both;
	border-top: solid 5px #4aaaa5;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 20px;
	width: 100%;
}

